@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}

<nav style="display: flex;">
    <a href="/Menu" style="flex-grow: 1; text-align: center; padding: .75rem; border: 5px solid #22b573">Menu</a>
    <a href="/About" style="flex-grow: 1; text-align: center; padding: .75rem; border: 5px solid #22b573">About</a>
    <a href="/Privacy" style="flex-grow: 1; text-align: center; padding: .75rem; border: 5px solid #22b573">Privacy</a>
</nav>

<h2 style="text-align: center;">Menu</h2>

<div style="display: flex; height: 100%;">
    <div style="background-color: #22b573; border: gold 5px solid; text-align: center; flex-grow: 1; height: 100%;">
        <h2>Combos</h2>
        @for (int c = 0; c < Model.combos.Count(); c++)
        {
            <div class="menu-item" style="border: brown 5px solid;">
                <h3>@(((DinoDiner.Menu.CretaceousCombo)Model.combos.ElementAt(c)).Entree)  Combo</h3>
                <table style="margin-left: auto; margin-right: auto;">
                    <tr>
                        <th style="border: 1px solid black">Size</th>
                        <th style="border: 1px solid black">Price</th>
                        <th style="border: 1px solid black">Calories</th>
                    </tr>
                    @foreach (DinoDiner.Menu.CretaceousCombo comboWSize in Model.combosAll.ElementAt(c))
        {
                        <tr>
                            <td style="border: 1px solid black">@comboWSize.Size</td>
                            <td style="border: 1px solid black">@comboWSize.Price</td>
                            <td style="border: 1px solid black">@comboWSize.Calories</td>
                        </tr>
        }
                </table>
                <div style="margin: 0px;">
                    <h3>Ingredients</h3>
                    @foreach (String i in (((DinoDiner.Menu.CretaceousCombo)Model.combos.ElementAt(c)).Ingredients))
        {
                        <p style="margin:0px;">@i</p>
        }
                </div>
            </div>
        }
    </div>
    <div style="background-color: #22b573; border: gold 5px solid; text-align: center; flex-grow: 1; height: 100%;">
        <h2>Entrees</h2>
        @foreach (DinoDiner.Menu.Entree entree in Model.entrees)
        {
            <div class="menu-item" style="border: brown 5px solid;">
                <h3 style="margin:4px;">@entree.Description</h3>
                <p style="margin: 0px;"><b>Calories:</b> @entree.Calories</p>
                <p style="margin: 0px;"><b>Price:</b> $@entree.Price</p>
                <div style="margin: 0px;">
                    <h3>Ingredients</h3>
                    @foreach (String i in entree.Ingredients)
                    {
                        <p style="margin:0px;">@i</p>
                    }
                </div>
            </div>
        }
    </div>
    <div style="background-color: #22b573; border: gold 5px solid; text-align: center; flex-grow: 1; height: 100%;">
        <h2>Sides</h2>
        @for (int s = 0; s < Model.sides.Count(); s++)
        {
            <div class="menu-item" style="border: brown 5px solid;">
                <h3 style="margin:4px;">@Model.sides.ElementAt(s).Description</h3>
                <table style="margin-left: auto; margin-right: auto;">
                    <tr>
                        <th style="border: 1px solid black">Size</th>
                        <th style="border: 1px solid black">Price</th>
                        <th style="border: 1px solid black">Calories</th>
                    </tr>
                    @foreach (DinoDiner.Menu.Side sideWSize in Model.sidesAll.ElementAt(s))
                    {
                        <tr>
                            <td style="border: 1px solid black">@sideWSize.Size</td>
                            <td style="border: 1px solid black">@sideWSize.Price</td>
                            <td style="border: 1px solid black">@sideWSize.Calories</td>
                        </tr>
                    }
                </table>
                <div style="margin: 0px;">
                    <h3>Ingredients</h3>
                    @foreach (String i in Model.sides.ElementAt(s).Ingredients)
                    {
                        <p style="margin:0px;">@i</p>
                    }
                </div>
            </div>
        }
    </div>
    <div style="background-color: #22b573; border: gold 5px solid; text-align: center; flex-grow: 1; height: 100%;">
        <h2>Drinks</h2>
        @for (int d = 0; d < Model.drinks.Count(); d++)
        {
            <div class="menu-item" style="border: brown 5px solid;">
                <h3 style="margin:4px;">@Model.drinks.ElementAt(d).Description</h3>
                                <table style="margin-left: auto; margin-right: auto;">
                    <tr>
                        <th style="border: 1px solid black">Size</th>
                        <th style="border: 1px solid black">Price</th>
                        <th style="border: 1px solid black">Calories</th>
                    </tr>
                    @foreach (DinoDiner.Menu.Drink drinkWSize in Model.drinksAll.ElementAt(d))
        {
                        <tr>
                            <td style="border: 1px solid black">@drinkWSize.Size</td>
                            <td style="border: 1px solid black">@drinkWSize.Price</td>
                            <td style="border: 1px solid black">@drinkWSize.Calories</td>
                        </tr>
        }
                </table>
                <div style="margin: 0px;">
                    <h3>Ingredients</h3>
                    @foreach (String i in Model.drinks.ElementAt(d).Ingredients)
                    {
                        <p style="margin:0px;">@i</p>
                    }
                </div>
            </div>
        }
    </div>
    <div style="background-color: #ffffff; border: gold 5px solid; text-align: center; flex-grow: 1; height: 100%; padding: 1rem;">
        <form method="post" name="saf">
            <div>
                <input type="text"
                       id="search"
                       name="search"
                       placeholder="Search for..." />
                <input type="submit"
                       name="Search" />
            </div>
            <div>
                <input type="submit"
                       name="filter"
                       id="filter"
                       value="Apply Filter(s)" />
            </div>
            <div>
                <p>Menu Category</p>
                <input type="checkbox"
                       class="menu-category"
                       name="categories"
                       value="Combo" />
                <label value="Combo">Combo</label>
                <input type="checkbox"
                       class="menu-category"
                       name="categories"
                       value="Entree" />
                <label value="Entree">Entree</label>
                <input type="checkbox"
                       class="menu-category"
                       name="categories"
                       value="Side" />
                <label value="Side">Side</label>
                <input type="checkbox"
                       class="menu-category"
                       name="categories"
                       value="Drink" />
                <label value="Drink">Drink</label>
            </div>
            <div>
                <p>Price</p>
                <div style="display: flex;">
                    <label for="minimumPrice">Min</label>
                    <input type="number"
                           id="minimum-price"
                           name="minimumPrice" />
                    <label for="minimumPrice">Max</label>
                    <input type="number"
                           id="maximum-price"
                           name="maximumPrice" />
                </div>
            </div>
            <div>
                @foreach (String i in Model.ingredients)
                {
                    <div style="width: 100%;">
                        <input value="@i"
                               name="inGredients"
                               class="exclude-ingredient"
                               type="checkbox" />
                        <label for="@i">@i</label>
                    </div>
                }
            </div>
        </form>
    </div>
</div>